@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat' ;
}

.header{
  margin: auto;
  height: 700px;
  background-image: url('header.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  justify-content: right;
  padding: 8px 10px;
}

#laadlogo{
  height: 100px;
  width: auto;
}

.Mission {
  background-color: #6ca01438;
  height: 100px;
  width: 50%;
  padding: 25px;
  text-align: center;
  margin: inherit;
  margin-top: 130px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}